[Unit]
Description=ds4drv daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
ExecStart=ds4drv --hidraw
Restart=on-abort

[Install]
WantedBy=bluetooth.target
